/*Huisstijl*/
body {
    background-color: #DBDFEA;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#141E46;
}

/*Navigatiebalk*/
ul.nav {
    list-style-type: none;
    background-color:#141E46;
    border-radius: 15px;
    margin: 0px 0px 75px 0px;
    padding: 0;
    overflow: hidden;
}

li.nav {
    float: left
}

li.nav a {
    display: block;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}

li.nav a:hover {
    background-color: #DBDFEA;
    color:#141E46;
}

li.nav a.active {
    background-color:#EB5350;
    color:#141E46;      
}

.home-icon {
    color:#EB5350;
}

/*Algemene styling*/
.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

footer, div.row {
    clear:both;
}

/*Homepage formatting*/
h1.index {
    color: #EB5350;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0px 0px 0px 50px;
}

img.index-portret {
    float: right;
    border-radius: 30px;
    margin: 0px 50px 0px 0px;
}

p.index-line {
    font-size:x-large;
    font-style: italic;
    text-align:end;
    width: 52%;
    margin: 30px 0px 10px 50px;
}

div.index-text {
    font-size: medium;
    width: 52%;
    margin: 50px 0px 50px 50px;
    text-align: justify;
}

p.index a:link {
    text-decoration: none;
    font-weight: bolder;
    color:darkblue;
}

p.index a:visited {
    color:#141E46;
}

p.index a:hover {
    color:#EB5350;
}

/*Webpage CV formatting*/
h1.cv {
    background-color: #EB5350;
    color: #FFFFFF;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    margin: 15px 0px;
}

.cv-icon {
    color:#141E46;
}

img.cv {
    margin: 40px;
    border-radius: 20px;
}

table.cv {
    border-collapse: collapse;
    border: none;
    margin: 40px;
}

td.cv-left {
    font-weight:900;
    text-align: left;
    vertical-align: top;
    padding-right: 20px;
    border-right: 0.5px solid #141E46;
}

td.cv-right {
    font-weight: 900;
    vertical-align: top;
    padding-left: 20px;
}

td.cv-italic {
    font-style: italic;
    vertical-align: top;
    padding-left: 20px;
    padding-bottom: 10px;
}

table.cv td a:link {
    text-decoration: none;
    color:#141E46;
}

table.cv td a:hover {
    color:#EB5350;
}

ul.cv {
    list-style-type: none;
    margin: 40px;
    margin-left: 570px;
    padding: 20px;
}

ul.cv li {
    padding: 3px 0px;
}

/*Webpage Ervaring formatting*/
div.ervaring {
    margin-bottom: 70px;
}

img.ervaring {
    margin: 0px 20px;
    border-radius: 20px;
}

h1.ervaring {
    color:#EB5350;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 0px 20px 20px;
}

.ervaring p {
    text-align: justify;
}

div.float-style p {
    font-size: medium;
    text-align: justify;
    margin-right: 40px;
}

/*Webpage Hobby formatting*/
figure.hobby-portret {
    margin-left: 0;
    margin-top: 0px;
}

img.hobby-portret {
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 25px;
}

figcaption.hobby-portret {
    text-align: center;
    font-size: x-small;
}

h1.hobby {
    color: #EB5350;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
    margin: 0px 20px 20px 20px;
}

table.hobby {
    border-collapse: collapse;
    /*border: 3px solid #141E46;*/
    margin-right: 20px;
    width: 800px;
}

table.hobby caption {
    caption-side: bottom;
    font-size: small;
    margin-top: 5px;
}

table.hobby th {
    font-weight: bold;
    font-size:16pt;
    padding:10px;
}

table.hobby td img {
    width: 150px;
    border-radius: 10px;
}

table.hobby td {
    padding: 10px;
}

table.hobby td, table.hobby th {
    border-bottom: 0.5px solid #141E46;
}

table.hobby tr.lastrow td, table.hobby tr.lastrow th {
    border-bottom: none;
}

q.hobby {
    font-style: italic;
}

/*Webpage Contact formatting*/
h1.contact {
    color: #EB5350;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0px 20px 30px 20px;
}

#linkedin-logo {
    width: 50px;
}

.link-text {
    padding: 15px;
}

div.contact-top {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 30px;
}

div.contact-top a {
    font-weight: bold;
}

div.contact-top a:link {
    text-decoration: none;
    color:#141E46;
}

div.contact-top a:hover {
    color:#EB5350;
}

h2.contact {
    color: #EB5350;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    margin: 40px 20px 25px 20px
}

form.contact {
    border: 1px solid #141E46;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

form.padding div {
    margin: 5px;
}

form.contact fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

form.contact legend {
    font-weight: bold;
    padding: 10px 0px;
}

form.contact input, form.contact textarea {
    width: 97%;
    padding: 10px;
    margin: 5px 0px;
    border:1px solid #141E46;
    background-color: #DBDFEA;
    border-radius: 5px;
}

form.contact input:focus {
    outline: none;
    background-color: #FFFFFF;
    border: 2px solid #EB5350;
    border-radius: 5px;
}

form.contact textarea:focus {
    outline: none;
    background-color: #FFFFFF;
    border: 2px solid #EB5350;
    border-radius: 5px;
}

form.contact select {
    background-color: #DBDFEA;
    color:#141E46;
    padding: 5px;
    margin: 5px 0px;
}

form.contact select:focus {
    outline: none;
    background-color: #FFFFFF;
    border: 2px solid #EB5350;
    border-radius: 5px;
}

form.contact .button {
    background-color: #EB5350;
    border: 0.5px solid #141E46;
    font-weight: bold;
    font-size: 14pt;
    color: #141E46;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    width: 40%;
    position: relative;
    left: 30%;
}

.contact-mid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.contact-left {
    padding: 90px 50px 0px 20px;
}

.contact.right {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.contact-image {
    border-radius: 15px;
}